@import "../../Core/Settings";

.singleProduct {
  position: relative;
  margin-bottom: $spacer * 3.125;
  overflow: hidden;
  background-color: $white;
}

.singleProduct__image {
  position: relative;
  overflow: hidden;
}

.singleProduct__img {
  @include transition(.5s);
  width: 100%;
  transform-style: preserve-3d;
  display: block;
  height: auto;
  max-width: 100%;
}

.singleProduct__img--hover {
  @include transition(.5s);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
}

.singleProduct__favourite {
  position: absolute;
  height: $spacer * 1.5625;
  width: $spacer * 2.8125;
  font-size: $px14;
  color: $gray-400;
  top: $spacer * 1.25;
  right: $spacer * 1.25;
  z-index: 10;
  line-height: $spacer * 1.5625;
  background-color: $white;
  box-shadow: 0 0 $px3 rgba(0, 0, 0, 0.15);
  text-align: center;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
}

.singleProduct__description {
  position: relative;
  z-index: 1;
  padding-top: 25px;
}

.singleProduct__label {
  font-size: $px10;
  text-transform: uppercase;
  color: $gray-600;
  margin-bottom: $px15;
  letter-spacing: $spacer * 0.046875;
  font-weight: bold;
}

.singleProduct__h6 {
  color: $black;
  margin-bottom: $px5;
  font-size: $spacer;
}

.singleProduct__h6 {
  color: $black;
  margin-bottom: $px5;
  font-size: $spacer;
}

.singleProduct__price {
  font-size: $px14;
  font-weight: bold;
  color: $black;
}

.singleProduct__previousPrice {
  color: $gray-500;
  margin-right: $px10;
  text-decoration: line-through;
}

.singleProduct__actions {
  @include transition(.5s);
  position: absolute;
  width: calc(100% - #{$spacer * 2.5});
  top: -$spacer * 4.375;
  left: $spacer * 1.25;
  right: $spacer * 1.25;
  opacity: 0;
  visibility: hidden;
}

.singleProduct:hover .singleProduct__actions,
.singleProduct:hover .singleProduct__favourite {
  opacity: 1;
  visibility: visible;
}

.singleProduct__favourite:hover {
  color: $red;
}

.singleProduct__addToCartBtn {
  width: 100%;
  cursor: pointer;
}

