@import "../../Core/Settings";

.banner {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 30vh;
  background-image: url('../../../img/bg-img/bg-1.jpg');
  margin-top: $spacer * 4;
}

.banner__row {
  align-items: center;
}

.banner__h6 {
  color: $gray-600;
  font-size: $px12;
  margin-bottom: $px6;
}

.banner__h2 {
  color: $black;
  font-size: $spacer * 1.75;
  margin-bottom: $spacer * 1.125;
}

@include media-breakpoint-up(md) {
  .banner {
    height: 50vh;
  }

  .banner__h2 {
    font-size: $spacer * 3.75;
    margin-bottom: $spacer * 3.125;
  }

  .banner__h6 {
    font-size: $spacer * 1.125;
    margin-bottom: $px10;
  }
}

@include media-breakpoint-up(lg) {
  .banner {
    height: 60vh;
  }
}
