@import "../../Core/Settings";

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap; // allow us to do the line break for collapsing content
  align-items: center;
  justify-content: space-between; // space out brand from logo
  border-bottom: $px1 $gray-200 solid;

  // Because flex properties aren't inherited, we need to redeclare these first
  // few properties so that content nested within behave properly.
  > .container,
  > .container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}

.navbar__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar__leftSite {
  margin-right: auto;
  align-items: center;
  display: flex;
}

.navbar__rightSite {
  display: flex;
}
