@import "../../Core/Settings";

.cart {
  padding: $spacer;
  max-width: $spacer * 20;
}

.cart__summary {
  font-family: $font-family-poppins;
  text-transform: uppercase;
  font-size: $px14;
  font-weight: bold;
  padding-bottom: $spacer;
}

.cart__header {
  padding: $spacer 0;
}

.cartSummary__column {
  display: flex;
  flex-flow: row wrap;
  padding: $px5 0;
}

.cartSummaryColumn__left {
  width: 50%;
}

.cartSummaryColumn__right {
  width: 50%;
  text-align: right;
}
