@import "../../Core/Settings";

.topCategories {
  padding-top: $spacer * 4.5;
  padding-bottom: $spacer * 4.5;
}

.topCategories__row {
  justify-content: center;
}

@include media-breakpoint-down(md) {
  .topCategories {
    padding-top: $spacer * 1.5;
    padding-bottom: $spacer * 1.5;
  }
}
