@import "../../Core/Settings";

.shopContent {
  padding-top: $spacer * 4.5;
  padding-bottom: $spacer * 4.5;
}

@include media-breakpoint-down(md) {
  .shopContent {
    padding-top: $spacer * 1.5;
    padding-bottom: $spacer * 1.5;
  }
}
