@import "../../Core/Settings";

.shopProducts__row {
  justify-content: center;
}

@include media-breakpoint-down(md) {
  .shopProducts {
    padding-top: $spacer * 1.5;
    padding-bottom: $spacer * 1.5;
  }
}
