@import "../../Core/Settings";

.filterDropdown {
  display: flex;
  margin-bottom: 0;
  font-size: $px12;
  color: $black;
  text-transform: uppercase;
  letter-spacing: $spacer * 0.046875;
  margin-right: $px15;
}

.filterDropdown__p {
  font-weight: bold;
  align-items: center;
  display: flex;
}

.filterDropdown__container {
  font-size: $px14;
  line-height: 1.5;
  text-transform: uppercase;
  width: $spacer * 10;
}

.filterDropdown__control {
  border: none;
}
