@import "../../Core/Settings";

.essence-btn {
  display: inline-block;
  min-width: $spacer * 10.625;
  height: $spacer * 3.125;
  color: $white;
  border: none;
  border-radius: 0;
  padding: 0 $spacer * 2.5;
  text-transform: uppercase;
  font-size: $px12;
  line-height: $spacer * 3.125;
  background-color: $blue;
  letter-spacing: $spacer * 0.03125;
  font-weight: bold;
}
