@import "../../../../../Core/Settings";

.cartItem {
  font-family: $font-family-sans-serif;
  width: 100%;
  font-size: $font-size-md;
}

.cartItem__thumbnail {
  height: $spacer * 18;
  position: relative;
}

.cartItemThumbnail__image {
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden;
  vertical-align: top;
  height: 100%;
}

.cartItem__info {
  display: flex;
  flex-flow: row wrap;
}

.cartItem__details {
  padding: $px8;
}

.cartItem__name {
  font-weight: bold;
}

.cartItem__type {
  color: $gray-600;
}

.cartItem__depot {
  color: $gray-700;
}

.cartItem__overlay {
  position: absolute;
  width: 100%;
  background-color: $white;
  opacity: 0.7;
  height: $spacer * 3;
  bottom: 0;
}

.cartItem__badgesLeft {
  position: absolute;
  top: $px8;
  left: $px8;
  z-index: 1;
}

.cartItem__badgesRight {
  position: absolute;
  top: $px8;
  right: $px8;
  z-index: 1;
}

.cartItem__actionsLeft {
  position: absolute;
  bottom: $px8;
  left: $px8;
  z-index: 1;
}
.cartItem__actionsRight {
  position: absolute;
  bottom: $px8;
  right: $px8;
  z-index: 1;
}

.cartItemAction__increase,
.cartItemAction__decrease,
.cartItemAction__delete {
  display: inline-block;
  text-align: center;
  min-width: $spacer * 2.125;
  padding: $px5 $px8;
  font-size: $font-size-base;
  color: $white;
  background-color: $blue;
  cursor: pointer;
}

.cartItemAction__decrease {
  margin-right: $px5;
}

.cartItemAction__delete {
  background-color: $gray-700;
}
