@import "../../Core/Settings";

.productSlide {
  position: relative;
  z-index: 1;
  margin-bottom: $spacer * 3.125;
  overflow: hidden;
  background-color: $white;
}

.productSlide__image {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.productSlide__img {
  @include transition(.5s);
  width: 100%;
  transform-style: preserve-3d;
  display: block;
  height: auto;
  max-width: 100%;
}

.productSlide__img--hover {
  @include transition(.5s);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
}

.productSlide__description {
  position: relative;
  z-index: 1;
  padding-top: 25px;
}

.productSlide__label {
  font-size: $px10;
  text-transform: uppercase;
  color: $gray-600;
  margin-bottom: $px15;
  letter-spacing: $spacer * 0.046875;
  font-weight: bold;
}

.productSlide__h6 {
  color: $black;
  margin-bottom: $px5;
  font-size: $spacer;
}

.productSlide__h6 {
  color: $black;
  margin-bottom: $px5;
  font-size: $spacer;
}

.productSlide__price {
  font-size: $px14;
  font-weight: bold;
  color: $black;
}

.productSlide__previousPrice {
  color: $gray-500;
  margin-right: $px10;
  text-decoration: line-through;
}

.productSlide__actions {
  @include transition(.5s);
  position: absolute;
  width: calc(100% - #{$spacer * 2.5});
  top: -$spacer * 4.375;
  left: $spacer * 1.25;
  right: $spacer * 1.25;
  opacity: 0;
  visibility: hidden;
}

.productSlide:hover .productSlide__actions {
  opacity: 1;
  visibility: visible;
}

.productSlide__addToCartBtn {
  width: 100%;
}
